* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
}

:root{
    --main-color: #11406d;
    --bg-color: white;
}

.background-header {
    height: 60vh;
    /* background-color: black; */
    background-image: url('assets/brett-jordan-LnHOwzv17-c-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1, h2 {
    font-family: "Dancing Script", sans-serif;
}

.summary-p {
    font-family: "Dancing Script", sans-serif;
    font-style: normal;
    line-height: 1.5rem;
}
 
h2 {
    font-size: 3rem;
    text-wrap: nowrap;
}

li {
    list-style: none;   
}

.unsplash {
    position: absolute;
    font-size: 0.55rem;
    color: rgb(255, 255, 255);
    bottom: 8px;
    right: 16px;
}

.unsplash-color {
    color: black;
    font-size: .55rem;
    font-style: italic;
}

.active{
    background-color: white;
    color: #11406d;
    padding: 10px;
    border-radius: 3px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

.container-icons-social {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 13%;
}

a.icons-social{
    color: #11406d;
    font-size: 1rem;
    scale: 1.1;
} 

a.icons-social:hover{
    color: orange;
}

.translate {
    width: 20px;
    background-color: #11406d3b;
    padding: 3px;
    border-radius: 4px;
}

/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    margin: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #11406d;
}

.navbar .logo a:hover{
    color: orange;
} 


.navbar .links {
    display: flex;
    gap: 2rem;
}


.navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn {
    background-color: #11406d;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
}

.action-btn:hover {
    scale: 1.05;
    color: #11406d;
    background-color: #fff;
}

.action-btn:active {
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

section {
    padding: 10rem 4% 10rem;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25rem;
}

.home-content{
    display: flex;  
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    /* margin-top: 3rem; */
}

span{
    color: var(--main-color);
}

/* .logo span{
    color: var(--main-color);
} */

.home-content h3{
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    /* font-size: 2.5rem; */
}

.home-content h1{
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    top: 3rem;
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}


.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1rem;
    color: white;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    transform: scale(1.05);
    color: #11406d;
    box-shadow: 0 0 50px var(--main-color);
}

.btn-group{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.btn-group a:nth-of-type(2){
    background-color: white;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: orange;
}

.text-animation{
    font-size: 24px;
    font-weight: 600;   
    min-width: 280px;
}

.text-animation span{
    position: relative;
}

.text-animation span::before{
    content: "Web Developer";
    color: var(--main-color);
    animation: words 15s infinite;
}

.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 15s steps(19) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words {
    0%, 16.66% {
        content: "Desarrollador Web";
    }
    16.67%, 33.32% {
        content: "Músico";
    }
    33.33%, 49.98% {
        content: "Diseñador de Mobiliario";
    }
    49.99%, 66.64% {
        content: "Co-Fundador LIC";
    }
    66.65%, 83.30% {
        content: "Gerente de Operaciones LIC";
    }
    83.31%, 100% {
        content: "Director Comunicaciones Lic";
    }
}

@keyframes typing {
    0%, 10%, 15%, 25%, 30%, 40%, 45%, 55%, 60%, 70%, 75%, 85%, 90%, 100% {
        width: 0;
    }
    5%, 20%, 35%, 50%, 65%, 80% {
        width: calc(100% + 8px);
    }
}



/* footer style */

footer {
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 16px 70px -8px rgba(0, 0, 0, .25);
    border-radius: 20px 20px 0 0;
    transition: background 0.3s linear;
}

.container-footer {
    max-width: 1240px;
    padding: 30px 40px;
    margin: auto;
}

.content__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}


.profil .logo__area {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.logo__area .logo a {
    font-size: 2rem;
    font-weight: 700;
    color: #11406d;
}

.logo__area .logo a:hover {
    color: orange;
}

.logo__area .logo__name {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 1rem;
    color: #11406d;
}

.desc__area {
    max-width: 310px;
    margin-bottom: 1.25rem;
}

.desc__area p {
    color: #828282;
    font-weight: 400;
    line-height: 28px;
}

.social__media a {
    color: #11406d;
    margin-right: 22px;
    font-size: 24px;
}

.footer-desc {
    color: #11406d;
}

.social__media a:hover{
    color: orange;
}

.service__area {
    display: flex;
}

.service__header {
    margin-right: 40px;
}

li.service__name {
    color: #000;
    font-weight: 600;
}

.service__header li a {
    color: #828282;
    padding-bottom: 1px;
    font-weight: 400;   
}

.service__header li a:hover {
    color: orange;
}

.service__header li {
    margin-bottom: 10px;
}

hr {
    height: 1px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .875rem;
}

.copy__right {
    color: #828282;
    display: flex;
    align-items: center;
}

.copy__right span {
    margin-left: 8px;
    font-weight: 400;
    letter-spacing: .1rem;
}

.tou a {
    color: #11406d !important;
    margin-left: 1.5rem;
}

.tou a:hover {
    color: orange;
}

/* @media (max-width:1285px) {
    .home{
        font-size: 35%;
    }
} */

/* RESPONSIVE DESIGN */
@media screen and (max-width: 991px) {
    .navbar .links,
    .navbar .action-btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    section {
        padding: 10rem 10% 10rem;
    }
    .home{
        flex-direction: column-reverse;
        gap: 3rem;
        padding: 3rem 0 ;
    }

    .home-content{
        display: flex;
        gap: 0.2rem;
    }

    .home-content h3{
        font-size: 1.3rem;
    }

    .home-content h1{
        font-size: 2.5rem;
        margin-top: 3rem;
        align-self: center;
    }

    .home-img img{
        width: 30vw;
    }    

    .btn-group{
        display: flex;
        gap: 1rem;
        align-self: center;
    }

    .btn{
        font-size: 0.8rem;
        padding: 0.7rem 1.8rem;
    }

}



@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    .desc__area p {
        font-size: 14px !important;
    }

    .content__footer {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .service__area {
        flex-wrap: wrap;
        justify-content: left;
    }

    .service__header {
        margin-left: 0;
        margin-right: 40px;
    }

    .social__media {
        margin-bottom: 1rem;
    }

    .footer__bottom {
        flex-wrap: wrap;
        justify-content: center;
    }
}